/* RESET GERAL */

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #323232;
    border: none;

}

body{

    height: 100vh;
    background: url("../imagens\ de\ fundo.jpg") center no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;

}

input:focus{

    outline: none;

}

a{

    font-size: .8rem;

}

a:hover{

    color: #08558b;
}

/* CONTAINER LOGIN */

#login-container{

    background-color: #fff;
    width: 25rem;
    padding: 1.25rem 1.8rem;
    border-radius: 10px;
    text-align: center;
}

/* FORMULARIO */

label, input{

    display: block;
    width: 100%;
    text-align: left;


}

label{

    font-weight: bold;
    font-size: .8rem;
    
}

input{

    border-bottom: 2px solid #323232 ;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;

}

input:focus{

    border-bottom: 2px solid #08558b;

}

#forgot-pass{

    display: block;
    text-align: right;

}

input[type="submit"]{

    background-color: #08558b57;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border: none;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 40%;
    margin: 1.8rem auto 0;
    transition: width 1.5s;

}

input[type="submit"]:hover{

    background-color: #08558b;
    width: 100%;
}

/* SOCIAL CONTAINER */

#social-container, #social-container p{
  

    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

#social-container i{

  

    width: 2.5rem;
    right: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    color: #fff;
    font-size: 1.5rem;
}

.fa-facebook-f{
    background-color: #1f7bf2;
    cursor: pointer;
}

.fa-linkedin{

    background-color: #086b9c;
    cursor: pointer;
}

.fa-whatsapp{

    background: linear-gradient(to  bottom, #5ff475,#38c33a);
    cursor: pointer;
}

#login-container h1{

    margin-bottom:20px ;
    padding: 1rem;
    color: #08558b;
}

#register-container p{

 
    margin-top: 20px;
    padding: 1rem;
}

#register-container a{

    margin-bottom: 20px;
    padding: 1rem;
}

